In [1]:
import pandas as pd
import os
confirmed=pd.read_csv('time_series_19-covid-Confirmed.csv')
death=pd.read_csv('time_series_19-covid-Deaths.csv')
recovered=pd.read_csv('time_series_19-covid-Recovered.csv')

In [2]:
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20
0,Anhui,Mainland China,31.8257,117.2264,1,9,15,39,60,70,...,990,990,990,990,990,990,990,990,990,990
1,Beijing,Mainland China,40.1824,116.4142,14,22,36,41,68,80,...,410,411,413,414,414,418,418,422,426,428
2,Chongqing,Mainland China,30.0572,107.8740,6,9,27,57,75,110,...,576,576,576,576,576,576,576,576,576,576
3,Fujian,Mainland China,26.0789,117.9874,1,5,10,18,35,59,...,296,296,296,296,296,296,296,296,296,296
4,Gansu,Mainland China,36.0611,103.8343,0,2,2,4,7,14,...,91,91,91,91,91,91,102,119,120,124

In [3]:
death.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20
0,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
1,Beijing,Mainland China,40.1824,116.4142,0,0,0,0,0,1,...,7,8,8,8,8,8,8,8,8,8
2,Chongqing,Mainland China,30.0572,107.8740,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
3,Fujian,Mainland China,26.0789,117.9874,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,Gansu,Mainland China,36.0611,103.8343,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [4]:
recovered.shape

(255, 51)

In [5]:
death.shape

(255, 51)

In [6]:
confirmed.shape

(255, 51)

In [10]:
active=confirmed.drop(['Province/State','Country/Region','Lat','Long'],1).subtract(recovered.drop(['Province/State','Country/Region','Lat','Long'],1))

In [20]:
active=pd.concat([confirmed[['Province/State','Country/Region','Lat','Long']],active],1)

In [21]:
active

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/20,2/29/20,3/1/20,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20
0,Anhui,Mainland China,31.8257,117.2264,1,9,15,39,60,70,...,169,122,117,73,54,34,20,11,11,6
1,Beijing,Mainland China,40.1824,116.4142,14,22,35,39,66,78,...,153,140,137,132,126,121,121,123,123,120
2,Chongqing,Mainland China,30.0572,107.8740,6,9,27,57,75,110,...,154,138,126,107,86,74,64,63,50,49
3,Fujian,Mainland China,26.0789,117.9874,1,5,10,18,35,59,...,61,53,49,41,36,26,19,12,1,1
4,Gansu,Mainland China,36.0611,103.8343,0,2,2,4,7,14,...,9,9,7,6,5,4,15,32,33,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,"Suffolk County, NY",US,40.9849,-72.6151,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
251,"Ulster County, NY",US,41.8586,-74.3118,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
252,"Unassigned Location, VT",US,44.3378,-72.7563,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
253,"Unknown Location, MA",US,42.4072,-71.3824,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
254,"Volusia County, FL",US,29.0280,-81.0755,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [22]:
active.drop(['Province/State','Country/Region','Lat','Long'],1).sum()

1/22/20      527
1/23/20      623
1/24/20      905
1/25/20     1395
1/26/20     2066
1/27/20     2866
1/28/20     5471
1/29/20     6040
1/30/20     8091
1/31/20     9705
2/1/20     11754
2/2/20     16315
2/3/20     19258
2/4/20     23040
2/5/20     26512
2/6/20     29331
2/7/20     32381
2/8/20     34505
2/9/20     36907
2/10/20    38817
2/11/20    40120
2/12/20    40072
2/13/20    54075
2/14/20    58829
2/15/20    59637
2/16/20    60361
2/17/20    60677
2/18/20    60786
2/19/20    59520
2/20/20    58022
2/21/20    57953
2/22/20    55713
2/23/20    55591
2/24/20    54343
2/25/20    52510
2/26/20    51013
2/27/20    49479
2/28/20    47411
2/29/20    46231
3/1/20     45655
3/2/20     44707
3/3/20     44614
3/4/20     43952
3/5/20     44088
3/6/20     45933
3/7/20     47476
3/8/20     49141
dtype: int64

In [23]:
recovered.drop(['Province/State','Country/Region','Lat','Long'],1).sum()

1/22/20       28
1/23/20       30
1/24/20       36
1/25/20       39
1/26/20       52
1/27/20       61
1/28/20      107
1/29/20      126
1/30/20      143
1/31/20      222
2/1/20       284
2/2/20       472
2/3/20       623
2/4/20       852
2/5/20      1124
2/6/20      1487
2/7/20      2011
2/8/20      2616
2/9/20      3244
2/10/20     3946
2/11/20     4683
2/12/20     5150
2/13/20     6295
2/14/20     8058
2/15/20     9395
2/16/20    10865
2/17/20    12583
2/18/20    14352
2/19/20    16121
2/20/20    18177
2/21/20    18890
2/22/20    22886
2/23/20    23394
2/24/20    25227
2/25/20    27905
2/26/20    30384
2/27/20    33277
2/28/20    36711
2/29/20    39782
3/1/20     42716
3/2/20     45602
3/3/20     48229
3/4/20     51171
3/5/20     53797
3/6/20     55866
3/7/20     58359
3/8/20     60695
dtype: int64

In [27]:
df=pd.DataFrame([recovered.drop(['Province/State','Country/Region','Lat','Long'],1).sum(),active.drop(['Province/State','Country/Region','Lat','Long'],1).sum(),death.drop(['Province/State','Country/Region','Lat','Long'],1).sum()]).transpose()

In [29]:
df.columns=['recovered','active','death']
df

         recovered  active  death
1/22/20         28     527     17
1/23/20         30     623     18
1/24/20         36     905     26
1/25/20         39    1395     42
1/26/20         52    2066     56
1/27/20         61    2866     82
1/28/20        107    5471    131
1/29/20        126    6040    133
1/30/20        143    8091    171
1/31/20        222    9705    213
2/1/20         284   11754    259
2/2/20         472   16315    362
2/3/20         623   19258    426
2/4/20         852   23040    492
2/5/20        1124   26512    564
2/6/20        1487   29331    634
2/7/20        2011   32381    719
2/8/20        2616   34505    806
2/9/20        3244   36907    906
2/10/20       3946   38817   1013
2/11/20       4683   40120   1113
2/12/20       5150   40072   1118
2/13/20       6295   54075   1371
2/14/20       8058   58829   1523
2/15/20       9395   59637   1666
2/16/20      10865   60361   1770
2/17/20      12583   60677   1868
2/18/20      14352   60786   2007
2/19/20      16121   59520   2122
2/20/20      18177   58022   2247
2/21/20      18890   57953   2251
2/22/20      22886   55713   2458
2/23/20      23394   55591   2469
2/24/20      25227   54343   2629
2/25/20      27905   52510   2708
2/26/20      30384   51013   2770
2/27/20      33277   49479   2814
2/28/20      36711   47411   2872
2/29/20      39782   46231   2941
3/1/20       42716   45655   2996
3/2/20       45602   44707   3085
3/3/20       48229   44614   3160
3/4/20       51171   43952   3254
3/5/20       53797   44088   3348
3/6/20       55866   45933   3460
3/7/20       58359   47476   3558
3/8/20       60695   49141   3803

In [37]:
import plotly.express as px
import plotly.graph_objects as go
fig=go.Figure()
fig.add_trace(go.Scatter(x=df.index,
                         y=[*df['recovered']]))
fig.add_trace(go.Scatter(x=df.index,y=df['active']))
fig.add_trace(go.scatter(x=df.index,y=df['death']))
fig.show()

TypeError: 'module' object is not callable

In [36]:
[*df['recovered']]

[28,
 30,
 36,
 39,
 52,
 61,
 107,
 126,
 143,
 222,
 284,
 472,
 623,
 852,
 1124,
 1487,
 2011,
 2616,
 3244,
 3946,
 4683,
 5150,
 6295,
 8058,
 9395,
 10865,
 12583,
 14352,
 16121,
 18177,
 18890,
 22886,
 23394,
 25227,
 27905,
 30384,
 33277,
 36711,
 39782,
 42716,
 45602,
 48229,
 51171,
 53797,
 55866,
 58359,
 60695]